.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}
#fileList{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top:.08rem;
}
.file-item{
	margin-left:.25rem;
	margin-bottom:.25rem;
	position: relative;
}
.file-item.thumbnail>img{
	border-radius:.06rem;
}
#filePicker{
	margin:.1rem 0;
}
#filePicker>div{
	width:100%;
}
.webuploader-pick{
	padding:15px;
}
.del-img{
	position: absolute;
	top: .1rem;
	right: .08rem;
	width: .22rem;
	height: .22rem;
	border-radius: 50%;
	background: #f1efef;
	color: #6d6868;
	z-index: 100;
	text-align: center;
	line-height: .23rem;
	cursor: pointer;
}
#add-img{
	display: none;
	width:1.2rem;
	height:1.2rem;
}